#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  background: #fff;
  text-align: center;
  /* overflow: auto; */
  justify-content: center;
  display: flex;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: var(--ion-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, #7a7979, #eee);
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
